<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <img src="{{ url_for('static', filename='images/icon.png') }}" class="site-icon">
    <div class="container">
        <div class="form-container glass-effect">
            <h2>Forgot Password</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% if step == 1 %}
                <form method="POST">                    
                    <input type="email" name="email" placeholder="Email" required>
                    <button type="submit">Send OTP</button>
                </form>
            {% elif step == 2 %}
                <form method="POST">
                    <input type="text" name="otp" placeholder=" OTP" required>
                    <button type="submit">Verify OTP</button>
                </form>
            {% elif step == 3 %}
                <form method="POST">
                    <input type="password" name="new_password" placeholder="New Password" required>
                    <input type="password" name="confirm_password" placeholder="Confirm password" required>
                    <button type="submit">Reset Password</button>
                </form>
            {% endif %}
        </div>
    </div>
</body>
</html>
